{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Batch Upload{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
  {% for podcast in podcasts %}
  <div>
    <div class="form-row">
      <div class="col-auto">
        <input type="checkbox" name="{{podcast.id}}_post" class="form-check-input position-static"
          id="{{podcast.id}}_post" checked>
      </div>
      <div class="col-auto">
        <h3>{{ podcast['podcast_name'] }}</h3>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="{{podcast.id}}_title">Title</label>
      <div class="col-sm-4">
        <input name="{{podcast.id}}_title" id="{{podcast.id}}_title" class="form-control form-control-sm"
          value="{{ request.form['title'] }}">
      </div>
      <div class="col-sm-3">
        <input type="file" name="{{podcast.id}}_file" class="form-control-file" id="{{podcast.id}}_file">
      </div>
      <div class="col-sm-2">
        <input type="checkbox" name="{{podcast.id}}_public" class="form-check-input" id="{{podcast.id}}_public">
        <label class="form-check-label" for="{{podcast.id}}_public">Make Public</label>
      </div>
    </div>

    <div class="form-group">
      <label for="{{podcast.id}}_description">Description</label>
      <input name="{{podcast.id}}_description" id="{{podcast.id}}_description" class="form-control form-control-sm"
        value="{{ request.form['description'] }}">
    </div>



  </div>
  {% if not loop.last %}
  <hr>
  {% endif %}
  {% endfor %}
  <input class="btn btn-secondary btn-lg" type="submit" value="Upload">
</form>
{% endblock %}